html {
    font-size: 18px;
    line-height: 1.4;
    font-family: Helvetica, sans-serif;
}

.container {
    width: 960px;
    margin: 0 auto;
}

.mobile {
    display: none;
}

/* HEADER */

.header-img {
    background-image: url("../images/glasses-bg.png");
    height: 30rem;
    padding-top: 1rem;
    background-size: cover;
}

/* nav */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: cadetblue;
    color: white;
    padding: 1rem;
}

.logo-title {
    display: flex;
    align-items: center;
}

nav img {
    height: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

nav span {
    margin-left: 1rem;
    margin-right: 1rem;
}

/* banner */
.banner {
    float: right;
    margin-top: 10rem;
    background-color: white;
    padding: 1.5rem 5rem;
    position: relative;
    right: -2rem;
}

h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2rem;
    line-height: 1.2;
}


/* MAIN CONTENT SECTION */

/* top section */
.top-section {
    display: flex;
    justify-content: center;
}

.attribute {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 5rem;
    height: 8rem;
    padding: 3rem;
}

.attribute img {
    width: 3.5rem;
}

.attribute p {
    text-align: center;
}

/* bottom section */

.bottom-section {
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
}

.info {
    display: inline-block;
    width: 35%;
    margin-right: 5%;
}

.info h3 {
    background-color: cadetblue;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    padding: 0.5rem 1.25rem;
    width: 10rem;
}

.info p {
    margin-top: 1rem;
}


/* FOOTER */

footer {
    padding: 4rem;
    background-color: azure;
    display: flex;
    align-items: center;
}

footer img {
    height: 1.5rem;
    margin-right: 1rem;
}


/* RESPONSIVE */

/* tablet */
@media only screen and (max-width: 1024px) {
    .container {
        width: 100%;
    }

    .header-img {
        padding-top: 0;
        height: 22rem;
    }

    .banner {
        right: 0;
        margin: 5rem 2rem;
        padding: 0.75rem 4rem;
        font-size: 1.33rem;
    }
}

/* mobile nav */
@media only screen and (max-width: 768px) {
    .desktop {
        display: none;
    }

    .mobile {
        display: initial;
    }
}

/* phones */
@media only screen and (max-width: 640px) {
    .header-img {
        height: 17rem;
        background-position: 20%;
    }

    .banner {
        width: 100%;
        padding: 1rem 0;
        margin: 0;
        margin-top: 9rem;
    }

    h1 {
        font-size: 1rem;
        text-align: center;
    }

    .top-section {
        margin-top: 3rem;
        margin-bottom: 3rem;
        flex-direction: column;
        justify-content: initial;
        align-items: center;
    }

    .attribute {
        padding: 0.77rem;
        height: initial;
    }

    .attribute p {
        font-size: 0.77rem;
        margin-top: 1rem;
    }

    .bottom-section {
        flex-direction: column;
        justify-content: initial;
        margin: 0;
    }

    .info {
        width: 100%;
        margin-bottom: 4rem;
    }

    .info h3 {
        width: 100%;
        text-align: center;
    }

    .info p {
        font-size: 0.77rem;
        margin: 1rem;
    }

    footer {
        justify-content: center;
    }

    footer span {
        display: none;
    }
}
